@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    @apply bg-transparent text-customWhite border-customWhite; /* Apply Tailwind colors */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: #ffffff; /* Use customWhite color */
    transition: background-color 5000s ease-in-out 0s;
  }
}
